body {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin: 0;
    font-family: "Manrope", "Inter", "Helvetica Neue", "Arial", sans-serif;
    font-size: 1rem;
    background-color: #eeeeee;
    text-align: center;
    min-height: 100vh;
}

header {
    font-size: 3.5rem;
    padding: 2rem 0;
    background-image: linear-gradient(#ffffff, #eeeeee);
    width: 100vw;
}

footer {
    background: linear-gradient(#eee0, rgba(10, 74, 252, 0.05));
    padding: 3rem 0 1.5rem;
    margin: 1rem 0 0;
    width: 100vw;
}

div#content {
    max-width: 40rem;
}

h1 {
    font-weight: 200; 
    font-family: "JetBrains Mono", monospace; 
    font-size: 1.25rem; 
}

h2 {
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
}

strong, a {color: #0a4afc}

div.icons img {
    max-height: 1.15rem;
    max-width: 1.15rem;
    padding: 0.25rem;
    padding-bottom: 0;
    vertical-align: middle;
}

div.social img {
    vertical-align: middle;
    height: 1rem;
    padding-right: 0.5rem;
}

div.social {
    line-height: 200%;
}

@supports (font-variation-settings: 'wdth' 200) {
    @font-face {
        font-family: Manrope;
        src: url('fonts/ManropeGX.ttf');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("fonts/JetBrainsMono-Bold.ttf");
    font-weight: bold;
    font-display: swap;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #242424;
        color: #eeeeee;
    }
    header {
        background-image: linear-gradient(#101010, #242424);
    }
    img {
        filter: invert(1);
    }
    strong, a {color: #02c2fc}
    footer {
        background: linear-gradient(#eee0, rgba(2, 194, 252, 0.05));
    }    
}